@model LapTimes.Models.CurrentDriver

<div class="display-label">
      @Html.DisplayNameFor(model => model.Lane) @Html.DisplayFor(model => model.Lane):
</div>
@Html.HiddenFor(model => model.Lane)

<div class="editor-label" id="classLabel">
  @Html.LabelFor(model => model.RacerId, "Driver")
</div>
<div class="editor-field" id="classSelect">
  @Html.DropDownList("RacerId", string.Empty)
  @Html.ValidationMessageFor(model => model.RacerId)
</div>

<div class="editor-label" id="classLabel">
  @Html.LabelFor(model => model.CarId, "Driving Car")
</div>
<div class="editor-field" id="classSelect">
  @Html.DropDownList("CarId", String.Empty)
  @Html.ValidationMessageFor(model => model.CarId)
</div>

<hr />