@model LapTimes.Models.Racer

@{
    ViewBag.Title = "Manage Racers and Leagues";
}

@section pageClasses {
  @Styles.Render("~/Content/themes/base/css")
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<article>
  <h2>Check in a new racer</h2>
@using (Html.BeginForm()) {
  @Html.ValidationSummary(true)

  <fieldset>
    <legend>Check in a new racer</legend>

    @Html.HiddenFor(model => model.RacerId)

    <div class="editor-label">
      @Html.LabelFor(model => model.Name, "Driver Name")
    </div>
    <div class="editor-field">
      @Html.TextBoxFor(model => model.Name, new { autofocus = "autofocus"})
      @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label" id="classLabel">
      @Html.LabelFor(model => model.ClassId)
    </div>
    <div class="editor-field" id="classSelect">
      @Html.DropDownList("ClassId", String.Empty)
      @Html.ValidationMessageFor(model => model.ClassId)
    </div>

    <div class="editor-label" id="leagueLabel">
      @Html.LabelFor(model => model.LeagueId)
    </div>
    <div class="editor-field" id="leagueSelect">
      @Html.DropDownList("LeagueId", String.Empty)
      @Html.ValidationMessageFor(model => model.LeagueId)
    </div>

    <p>
      <input type="submit" value="Register" />
      @if (ViewBag.AtLeastTwoRacers)
      { 
       @:| @Html.ActionLink("Start A Race", "Index", new { Controller = "Home", Area = "ManageRaces" }, new { @class = "big-link" })
      }
    </p>

  </fieldset>
}
</article>

<aside>
  <h3>Racer Management:</h3>
  <ul>
    <li>@Html.ActionLink("Manage Racers", "Index", "Racers")</li>
    <li>@Html.ActionLink("Manage Classes", "Index", "Classes")</li>
    <li>@Html.ActionLink("Manage Leagues", "Index", "Leagues")</li>
    <li>@Html.ActionLink("Manage Races", "Index", "Races", new { area = "ManageRaces" }, null)</li>
    <li>@Html.ActionLink("Manage Cars", "Index", "Cars", new { area = "ManageRaces" }, null)</li>
    @if (ViewBag.AtLeastTwoRacers)
    {
    <li>@Html.ActionLink("Start A Race", "Index", "Home", new { area = "ManageRaces" }, null)</li>
    }
  </ul>
</aside>

@section scripts {
  @Scripts.Render("~/bundles/jqueryui")
  <script>
    $('#Name').autocomplete({ delay: 250,
      minLength: 2,
      source: function (request, response) {
        $.ajax({
          url: '@Url.Action("GetUnpaidRacersStartingWith", "Racers")/' + request.term + '/10',
          type: "POST",
          dataType: "json",
          success: function (data) {
            response($.map(data, function (item) {
              return {
                id: item.id,
                label: item.label,
                value: item.name,
                leagueId: item.leagueId,
                classId: item.classId
              }
            }));
          },
        });},
        select: function (event, ui) {
          //update the hidden field with the Racer Id and the selected class and league (allows editing).
          $('#RacerId').val(ui.item.id);
          $('#ClassId').val(ui.item.classId);
          $('#LeagueId').val(ui.item.leagueId);
        }
    });
  </script>
}