@model IEnumerable<LapTimes.Models.Racer>

@{
    ViewBag.Title = "Manage Racers";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RawBestTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsWaitingForRace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.League.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          @Html.ActionLink(item.Name, "Details", new { id = item.RacerId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RawBestTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWaitingForRace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.League.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RacerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RacerId })
        </td>
    </tr>
}

</table>
