@model LapTimes.Areas.ManageRacers.Models.RacersHomeModel

@{
  ViewBag.Title = "Manage Racers";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<article>
@using (Html.BeginForm())
{
  <fieldset>
    <legend>Filter Drivers</legend>

    <div class="editor-label">
      @Html.LabelFor(model => model.Filter)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Filter)
      
      @if (!string.IsNullOrEmpty(Model.Filter))
      {
      <a href="@Url.Action("Index", "Racers")"><i class="fa fa-minus-circle message-error"></i></a>
      }
    </div>

    
    <p>
      <input type="submit" value="Search" />
    </p>

  </fieldset>
}
  <p>
  @Html.ActionLink("Create New", "Create")
</p>
</article>  
<table width="100%">
    <tr>
      <th>
        Driver Name
      </th>
      <th>
        Best Time
      </th>
      <th>
        Has Paid?
      </th>
      <th>
        Class
      </th>
      <th>
        League
      </th>
      <th></th>
    </tr>

@foreach (var item in Model.Racers)
{
    <tr>
        <td>
          @Html.ActionLink(item.Name, "Details", new { id = item.RacerId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RawBestTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsWaitingForRace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.League.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RacerId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RacerId })
        </td>
    </tr>
}

</table>