@model IEnumerable<LapTimes.Models.ClassName>

@{
  ViewBag.Title = "Manage Classes";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
          @Html.ActionLink(item.Name, "Details", new { id = item.ClassId })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassId })
        </td>
    </tr>
}

</table>
