@model LapTimes.Models.Race

@{
    ViewBag.Title = "Manage Races";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<article>
  <h2>Run a race</h2>
  @if (Model == null || Model.RaceId == 0)
  {
    using (Html.BeginForm())
    {
      @Html.ValidationSummary(true)

      <fieldset>
        <legend>Run a race</legend>

        @Html.HiddenFor(model => model.RaceId)

        @Html.EditorFor(model => model.Drivers)

        <p>
          <input type="submit" value="Prepare Race" />
        </p>

      </fieldset>
    }
  }
  else
  { 
    // Set up Knockout Stopwatches...
  }
</article>

<aside>
  <h3>Race Management:</h3>
  <ul>
    <li>@Html.ActionLink("Manage Races", "Index", "Races")</li>
    <li>@Html.ActionLink("Manage Cars", "Index", "Cars")</li>
  </ul>
</aside>