@model LapTimes.Models.Race

@{
    ViewBag.Title = "Manage Races";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<article>
  <h2>Run a race</h2>
  @if (Model == null)
  { 
    using (Html.BeginForm())
    {
      @Html.ValidationSummary(true)

      <fieldset>
        <legend>Run a race</legend>

        @Html.HiddenFor(model => model.RaceId)

        @Html.EditorFor(model => model.Racers)

      @for (int i = 0; i < ViewBag.NumberOfLanes; i++)
      {
        <h3>@string.Format("In Lane {0}:", i + 1)</h3>
        <div class="editor-label" id="classLabel">
          @Html.LabelFor(model => model.Racers[i].RacerId, "Driver")
        </div>
        <div class="editor-field" id="classSelect">
          @Html.DropDownList("RacerId", String.Empty)
          @Html.ValidationMessageFor(model => model.Racers[i].RacerId)
        </div>
    
        <div class="editor-label" id="classLabel">
          @Html.LabelFor(model => model.Racers[i].CarId, "Driving Car")
        </div>
        <div class="editor-field" id="classSelect">
          @Html.DropDownList("CarId", String.Empty)
          @Html.ValidationMessageFor(model => model.Racers[i].CarId)
        </div>
      }

        <p>
          <input type="submit" value="Prepare Race" />
        </p>

      </fieldset>
    }
  }
</article>

<aside>
  <h3>Race Management:</h3>
  <ul>
    <li>@Html.ActionLink("Manage Races", "Index", "Races")</li>
    <li>@Html.ActionLink("Manage Cars", "Index", "Cars")</li>
  </ul>
</aside>