@model LapTimes.Models.Race

@{
    ViewBag.Title = "Manage Races";
}

<hgroup class="title">
  <h1>@ViewBag.Title</h1>
</hgroup>

<article>
  <h2>Run a race</h2>
  @if (Model == null || Model.RaceId == 0)
  {
    using (Html.BeginForm())
    {
      @Html.ValidationSummary(true)

      <fieldset>
        <legend>Run a race</legend>

        @Html.HiddenFor(model => model.RaceId)

        @Html.EditorFor(model => model.Drivers)

        <p>
          <input type="submit" value="Prepare Race" />
        </p>

      </fieldset>
    }
  }
  else
  { 
    // Set up Knockout Stopwatches...
  }
</article>

<aside>
  <h3>Race Management:</h3>
  <ul>
    <li>@Html.ActionLink("Manage Races", "Index", "Races")</li>
    <li>@Html.ActionLink("Manage Cars", "Index", "Cars")</li>
  </ul>
</aside>

@section scripts
{
  <script>
    $(document).ready(function () {
      var drivers = $('[id*="RacerId"]');
      var driverOptions = drivers.find('option');
      var cars = $('[id*="CarId"]');

      drivers.change(function () {
        var val = $(this).val();

        var selected = [];
        selected.push(val);

        drivers.not($(this)).each(function (i, element) {
          if ($(element).val()) {
            // We have a selected value
            if (selected.indexOf($(element).val()) < 0) {
              // Current item also isn't already selected...
              selected.push($(element).val());
            } else {
              // find option that isn't selected...
              driverOptions.each(function (j, option) {
                if (selected.indexOf($(option).val()) < 0) {
                  selected.push($(option).val());
                  $(element).val($(option).val());
                }
              });
            }
          }
        });
      });

      cars.change(function () {
        var val = $(this).val();

        cars.not($(this)).each(function (i, element) {
          if ($(element).val() && $(element).val() == val) {
            $(element).val('');
          }
        });
      });
    });

    function isInArray(array, item) {
      
    }
  </script>
}
